@page "/"

<PageTitle>Index</PageTitle>

<p>Hello from our Blazor server!</p>

<p>Feel free to look around and use any tabs you may find!</p>

<SurveyPrompt Title="What do you think of our website?" />
